*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.map{
	width: 900px;
	height: 900px;
}

.toggle{
	display: inline-block;
	cursor: pointer;
}
.control-panel{
	position: relative;
	transition: 0.3s;
	left:0;
	right: 0;
}

.control-panel.top-right{
	pointer-events: auto;
	width: 320px;
}
.control-panel.top-right .control-panel-toggle{
	float: left; 
	width: 20px;
	height: 20px;
	background-color: green;
}

.control-panel.top-right .control-panel-toggle.open{
	background-color: red;
}

.control-panel.top-right .control-area{
	border-style: solid;
    border-width: 1px;
    border-color: #131c31;
	background-color: #4e70ba;
	float:left;
	width: 300px;
	height: 100%;
	line-height: 20px;
}

.control-panel.top-right .control-area span{
	margin-left: 10px;
}

.control-panel.top-right .control-area .head{
	width: 100%;
}

.control-panel.top-right .control-area .head .control-name{
	border-style: solid;
    border-width: 0 0 1px 0;
	border-color: #283c68;
	cursor: pointer;
	
	background-color: #64437F;
}
.control-panel.top-right .control-area .control-name{
	color: #ededed;
}
.control-panel.top-right .control-area .control-name:hover,
.control-panel.top-right .control-area .control-name:active{
	color: #FFF;
	background-color: #8b62ac;
}


.control-panel.top-right .control-area .control-list{
	background-color: #7C509F;
	list-style-type: none; 
	height: 0;
	overflow: hidden;
}

.control-panel.top-right .control-area .control-list.open{
	height: auto;
}

.control-panel.top-right .control-area .control-list .control-list-element{
	color: #ededed;
	cursor:pointer;
	padding-left: 10px;
	border-color: #283c68;
}
.control-panel.top-right .control-area .control-list :last-child{
	border-style: solid;
    border-width: 0 0 2px 0;
	border-color: #131c31;
}
.control-panel.top-right .control-area .control-list .control-list-element:hover,
.control-panel.top-right .control-area .control-list .control-list-element:active{
	color: #FFF;
	background-color: #8b62ac;
}

.main-control{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-control .control-head{
	background-color: #7b68ee;
	width: 100%;
	border-style: solid;
    border-width: 0 0 1px 0;
	border-color: #283c68;
}

.main-control .control-body{
	border-style: solid;
    border-width: 0 0 2px 0;
	border-color: #131c31;
}

.main-control .control-body{
	background-color: yellow;
}

.main-control .control-body .element-list{
	list-style-type: none; 
	background-color: #98acd6;
}

.main-control .control-body .layer-list{
	background-color: #98cbd6;
	
}

.main-control .control-body .layer-list .layer{
	border-style: solid;
    border-width: 0 0 1px 0;
	border-color: #283c68;
}
.main-control .control-body .layer-list .layer:last-of-type{
	border-width: 0;
}
.main-control .control-body .layer-list, .main-control .control-body .element-list{
	margin-left: 5px;
}
.main-control .layer-toggle, .main-control .element-toggle{
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 0;
	margin: 5px 0 0 10px;
	width: 10px;
	height: 10px;
	background-color: red;
}
.main-control .element-toggle{
	border-radius: 5px;
	background-color: #ff002a;
}

.main-control .layer-toggle.shown{
	background-color: green;
}


.main-control .element-toggle.shown{
	background-color: #ffd500;
}

.main-control .layer-name.active{
	cursor: pointer;
}

.main-control .layer-name.active:hover,
.main-control .layer-name.active:active{
	color: #FFF;
}

.main-control .layer-list .layer .layer-head{
	border-style: solid;
    border-width: 0 0 1px 0;
	border-color: #283c68;
}

.main-control .layer-list .layer .layer-body{
	background-color: blue;

}

.main-control .layer-list .layer .layer-body .child-layer-list{
	margin-left: 5px;
	background-color: #bed588;
}