*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.map{
	width: 900px;
	height: 900px;
}

.toggle{
	display: inline-block;
	cursor: pointer;
}
.control-panel{
	position: relative;
	transition: 0.3s;
	left:0;
	right: 0;
}

.control-panel.top-right{
	pointer-events: auto;
	width: 320px;
	height: 800px;
}
.control-panel.top-right .control-panel-toggle{
	float: left; 
	width: 20px;
	height: 20px;
	background-color: green;
}

.control-panel.top-right .control-panel-toggle.open{
	background-color: red;
}

.control-panel.top-right .control-area{
	background-color: #4e70ba;
	float:left;
	width: 300px;
	height: 100%;
	line-height: 20px;
}

.control-panel.top-right .control-area span{
	padding-left: 10px;
}

.control-panel.top-right .control-area .head{
	width: 100%;
	margin-bottom: 15px;
}

.control-panel.top-right .control-area .head .control-list li{
	padding-left: 10px;
}

.control-panel.top-right .control-area .head .control-name{
	cursor: pointer;
	background-color: #7C509F;
}

.control-panel.top-right .control-area .control-name:hover{
	background-color: #64437F;
}


.control-panel.top-right .control-area .control-list{
	background-color: #BEA4D5;
	list-style-type: none; 
	height: 0;
	overflow: hidden;
}

.control-panel.top-right .control-area .control-list.open{
	height: auto;
}

.control-panel.top-right .control-area .control-list .control-list-element{
	cursor:pointer;
}

.control-panel.top-right .control-area .control-list .control-list-element:hover{
	background-color: #D8C6E6;
}

.main-control{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-control .control-head{
	background-color: #7b68ee;
	width: 100%;
}

.main-control .control-body .element-list{
	list-style-type: none; 
	background-color: #98acd6;
	padding: 0 10px;
	margin-top: 5px;
}

.main-control .layer-toggle{
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 0;
	margin: 5px 0 0 10px;
	width: 10px;
	height: 10px;
	background-color: red;
}

.main-control .layer-toggle.shown{
	background-color: green;
}